/* You can add global styles to this file, and also import other style files */
h1{
    font-size: 70px;
}
.container{
    background-color: gray;
    border: 1px solid green;
    box-shadow: 2px 4px 8px blue;
}
*{
    box-sizing: border-box;
    margin: 0;
}